force-app/main/default/flows/Klaviyo_SF_Sync.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Append_Singleton_0</name>
        <label>Append Singleton</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>ids</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Singleton_Target_Input</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Append_Singleton_1</name>
        <label>Append Singleton</label>
        <locationX>50</locationX>
        <locationY>650</locationY>
        <assignmentItems>
            <assignToReference>ids</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TargetId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Klaviyo_User_Settings</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Has_Singleton_Record_Input</name>
        <label>Has Singleton Record Input</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Has_Singleton_Target_Input</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Singleton_Record_Input_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Append_Singleton_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Singleton_Target_Input</name>
        <label>Has Singleton Target Input</label>
        <locationX>182</locationX>
        <locationY>542</locationY>
        <defaultConnector>
            <targetReference>Klaviyo_User_Settings</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Has_Singleton_Target_Input_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TargetId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TargetId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Append_Singleton_1</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Valid_Input</name>
        <label>Has Valid Input</label>
        <locationX>380</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Has_Valid_Input_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IntegrationType</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IntegrationType</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Has_Singleton_Record_Input</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Valid_Settings</name>
        <label>Valid Settings</label>
        <locationX>182</locationX>
        <locationY>1166</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Valid_Settings_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>cBatchSize</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>cPlatformInstanceName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>cPlatformInstanceName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Klaviyo_Integration</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>cBatchSize</name>
        <dataType>Number</dataType>
        <expression>NULLVALUE(
  {!BatchSize}, 
  NULLVALUE({!Klaviyo_User_Settings.Batch_Size__c}, 
  NULLVALUE({!Klaviyo_Profile_Settings.Batch_Size__c}, 
  NULLVALUE({!Klaviyo_Org_Settings.Batch_Size__c}, 
  0
))))</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>cNamedCredential</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE(
  {!NamedCredential}, 
  BLANKVALUE({!Klaviyo_User_Settings.Named_Credential__c}, 
  BLANKVALUE({!Klaviyo_Profile_Settings.Named_Credential__c}, 
  BLANKVALUE({!Klaviyo_Org_Settings.Named_Credential__c}, 
  &quot;&quot;
))))</expression>
    </formulas>
    <formulas>
        <name>cPlatformInstanceName</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE(
  {!PlatformInstanceName}, 
  BLANKVALUE({!Klaviyo_User_Settings.Platform_Instance_Name__c}, 
  BLANKVALUE({!Klaviyo_Profile_Settings.Platform_Instance_Name__c}, 
  BLANKVALUE({!Klaviyo_Org_Settings.Platform_Instance_Name__c}, 
  &quot;&quot;
))))</expression>
    </formulas>
    <interviewLabel>Klaviyo - SF - Sync {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Klaviyo - SF - Sync</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Klaviyo_Org_Settings</name>
        <label>Klaviyo Org Settings</label>
        <locationX>182</locationX>
        <locationY>1058</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Valid_Settings</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SetupOwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Organization.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>StoreConnect_Add_on_Klaviyo__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Klaviyo_Profile_Settings</name>
        <label>Klaviyo Profile Settings</label>
        <locationX>182</locationX>
        <locationY>950</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Klaviyo_Org_Settings</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SetupOwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Profile.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>StoreConnect_Add_on_Klaviyo__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Klaviyo_User_Settings</name>
        <label>Klaviyo User Settings</label>
        <locationX>182</locationX>
        <locationY>842</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Klaviyo_Profile_Settings</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SetupOwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>StoreConnect_Add_on_Klaviyo__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Has_Valid_Input</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Klaviyo_Integration</name>
        <label>Klaviyo Integration</label>
        <locationX>50</locationX>
        <locationY>1274</locationY>
        <flowName>Klaviyo_ALF_Integration</flowName>
        <inputAssignments>
            <name>batchSize</name>
            <value>
                <elementReference>cBatchSize</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>InputIds</name>
            <value>
                <elementReference>ids</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>IntegrationType</name>
            <value>
                <elementReference>IntegrationType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NamedCredential</name>
            <value>
                <elementReference>cNamedCredential</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>platformInstanceName</name>
            <value>
                <elementReference>cPlatformInstanceName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RunAsynchronously</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>BatchSize</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IntegrationType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NamedCredential</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PlatformInstanceName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>s_c__Product_Category__c</objectType>
    </variables>
    <variables>
        <name>TargetId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
