force-app/main/default/flows/Klaviyo_RTF_Order_Events.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Append_Record_ID</name>
        <label>Append Record ID</label>
        <locationX>308</locationX>
        <locationY>276</locationY>
        <assignmentItems>
            <assignToReference>ids</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Trigger_Order_Event</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>integrationType</name>
        <dataType>String</dataType>
        <value>
            <stringValue>OrderEvent</stringValue>
        </value>
    </constants>
    <constants>
        <name>namedCredential</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Klaviyo</stringValue>
        </value>
    </constants>
    <environments>Default</environments>
    <interviewLabel>Klaviyo - RTF - Order Events {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Klaviyo - RTF - Order Events</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>s_c__Store_Id__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>s_c__Abandoned__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>s_c__Checkout_Step__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>complete</stringValue>
            </value>
        </filters>
        <object>Order</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Append_Record_ID</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <subflows>
        <name>Trigger_Order_Event</name>
        <label>Trigger Order Event</label>
        <locationX>308</locationX>
        <locationY>384</locationY>
        <flowName>Klaviyo_ALF_Integration</flowName>
        <inputAssignments>
            <name>InputIds</name>
            <value>
                <elementReference>ids</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>IntegrationType</name>
            <value>
                <elementReference>integrationType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NamedCredential</name>
            <value>
                <elementReference>namedCredential</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RunAsynchronously</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
